@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'https://pro.fontawesome.com/releases/v5.15.1/css/all.css';
.result-list:hover{
    @apply ring ring-indigo-300 ring-opacity-50 transition;
}

.calculate_to{
    @apply relative bg-white;
}


/* Fade transition used for dialog */
.fade-enter-active {
    animation: topInAnimation 0.2s ease-in-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.fade-leave-active {
    animation: topOutAnimation 0.2s ease-in-out;
}

@keyframes topInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}